
/* Navigation rail */
.nav-rail-button {
  background-color: transparent;
  color: white;
  padding: 1em;
}

.nav-rail-button img {
  width: 32pt;
  height: 32pt;
}

.nav-rail-button  i.material-icons {
  color: white;
  font-size: 32px;
  padding-right: 4px;
}