
<div>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table class="routes-table" [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="totalSystems">
      <mat-header-cell *matHeaderCellDef> # Systems </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.systems.length}} </mat-cell>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="totalJumps">
      <mat-header-cell *matHeaderCellDef> # Jumps </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalJumps}} </mat-cell>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="totalStops">
      <mat-header-cell *matHeaderCellDef> # Bodies </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalBodies}} </mat-cell>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="totalVisited">
      <mat-header-cell *matHeaderCellDef> # Visited </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalVisited}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClicked(row)"
    ></mat-row>

  </mat-table>
</div>