<h1 id="tableLabel">Routes</h1>

<p *ngIf="!(routes | async)"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="routes | async">
  <thead>
    <tr>
      <th>Route Name</th>
      <th># of Stops</th>
      <th># of Jumps</th>
      <th># of Stops</th>
      <th># Visited</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let route of routes | async">
      <td>{{ route.name }}</td>
      <td>{{ route.systems.length }}</td>
      <td>{{ route.totalJumps }}</td>
      <td>{{ route.totalBodies }}</td>
      <td>{{ route.totalVisited }}</td>
    </tr>
  </tbody>
</table>